[2022-06-16 12:35] endymion1818 opened #1 "How to build a CRUD app with React and Webiny"

[2022-06-16 12:37] swapnilmmane opened #2 "How to implement Pagination with Webiny headless CMS in React"

[2022-06-16 12:37] endymion1818 opened #3 "Build a blog with Gatsby and Webiny Headless CMS"

[2022-06-16 12:37] swapnilmmane opened #4 "Building a ToDo application with Webiny and VueJS"

[2022-06-16 12:37] endymion1818 opened #5 "Build a blog with Next.js and Webiny Headless CMS"

[2022-06-16 12:38] endymion1818 opened #6 "Build a Trello clone with NextJS and Webiny Headless CMS"

[2022-06-16 12:38] endymion1818 opened #7 "Build a Hacker News clone using React Native and Webiny"

[2022-06-16 12:38] endymion1818 opened #8 "Building a ToDo app with Webiny and Vue"

[2022-06-16 12:38] swapnilmmane opened #9 "Build a Todo Application in React.js and Webiny Headless CMS"

[2022-06-16 12:38] endymion1818 opened #10 "Building a CSS tricks website clone with Webiny and NextJS"
Introduction

The numerous benefits and simplicity of Headless Content Management Systems are the topmost reasons why anyone will choose it for building modern application. Alot of CMS exist today that solve problems associated with managing contents across multiple platforms but only a few of them comes with needed perks such as easy scalability, data privacy, less cost in running & maintenance a

[2022-06-16 12:39] endymion1818 opened #11 "Create a personal blog using Hugo and Webiny"

[2022-06-16 12:39] endymion1818 opened #12 "How to build a headless e-commerce site with Webiny and NuxtJS"

[2022-06-16 12:40] swapnilmmane opened #13 "How to do content modeling?"

[2022-06-16 12:43] swapnilmmane opened #14 "Build a Blog with Gatsby and Webiny Headless CMS"

[2022-06-16 13:59] kaf-lamed-beyt commented on #5
I'm here 😎

[2022-06-16 14:03] endymion1818 opened #15 "Build a blog with Astro and Webiny Headless CMS"
In this article, the reader will know what is Webiny. They will also learn how to set up Webiny with Astro. In addition, they will learn to source data from our Webiny Headless CMS to our frontend (Astro). We will be building a Blog with Astro, Webiny Headless CMS and TailwindCSS.

Outline:

- Introduction
- What we are building: Blog
- What is Webiny?
- Benefits of using Webiny
- What is Astro?
-

[2022-06-16 14:04] endymion1818 opened #16 "Build a blog with Remix and Webiny Headless CMS"

[2022-06-16 14:05] endymion1818 commented on #8
Closing as duplicates #4

[2022-06-16 14:05] #8 closed

[2022-06-16 14:07] endymion1818 opened #17 "Build a Todo Application with Next.js and Webiny Headless CMS"

[2022-06-16 14:09] endymion1818 commented on #17
On hold because we've got a significant number of similar articles in flight currently.

[2022-06-16 14:33] endymion1818 opened #18 "Build a notes app with Next.js and Webiny Headless CMS"

[2022-06-20 10:47] Tammibriggs commented on #2
Hi @swapnilmmane,

I am interested in this topic. Here is the outline:

Outline
- Introuduction Webiny headless CMS
- What is pagination
- Types of Paination
    - Offset-based pagintion
    - Cusor-based pagination
- Implemening Pagination with Webiny
    - Setting up webiney
    - Populating our CMS with content
    - Implement offset-based pagination
    - Implement Cursor-based pagination
- Co

[2022-06-20 10:49] swapnilmmane commented on #2
Thank you @Tammibriggs, as discussed on Slack, happy to proceed with the topic.
Assigning the issue to you, thanks!

[2022-06-20 13:13] Dsalinasgardon commented on #13
### How to do content modeling?
Software developers are always looking for ways to improve their workflow and create better software. One way to do this is by using content modeling. Content modeling is a technique that helps you organize your code and data so that your application is easy to understand and maintain.

In this blog post, we will discuss what content modeling is and how you can use

[2022-06-20 13:53] Dsalinasgardon commented on #3
Building a blog with Gatsby and Webiny Headless CMS

If you're a software developer and you want to create a blog, Gatsby is an excellent option. With Gatsby, you can use React to create your blog's frontend, and then use Webiny to manage your content.

In this tutorial, I'll show you how to set up your Gatsby site and connect it with your Webiny account. I'll also walk you through the process of

[2022-06-20 14:08] Victory-ET commented on #9
Hi @swapnilmmane
I'll like to write on this topic. Here's the abstract

Build a Todo Application in React.js and Webiny CMS

Introduction

To-do applications are a way of organizing things to do or achieve in the form of a list. This list allows us to write down tasks, reprioritize tasks more efficiently, and manage them for increased productivity.

Goals

In this article, we will learn about the

[2022-06-20 14:51] miracleonyenma commented on #4
Hey @swapnilmmane
I'm interested in this topic. Here's a brief abstract/outline:

### Introduction
With technologies like GraphQL, we can build better and more efficient modern applications when interaction with APIs. With serverless we can now also make our APIs efficient and optimized for a project of any scale. In this tutorial, we're going to see how Webiny helps us to build efficient and scal

[2022-06-20 16:32] swapnilmmane commented on #4
Thank you @miracleonyenma for your interest and for the abstract submission, we will review the brief soon.

[2022-06-21 12:27] rusiqe commented on #7
@endymion1818 @swapnilmmane I'd like to work on this title.

### Abstract:
The Hacker News platform hosts some of the best technical content for developers and tech enthusiasts to devour. This tutorial will deconstruct the elements you'd need to build and serve an articles feed and rating platform like Hackernews (HN) using React Native and Webiny as a headless CMS.

### Goals:

A concise tutorial

[2022-06-21 12:29] swapnilmmane commented on #7
Great, thank you @rusiqe for the detailed abstract, we will have a look into this, and I will get back to you, thanks!

[2022-06-21 12:43] SvenAlHamad opened #22 "Demo article"
### Introduction

[To-Do applications are a way of organizing things to do or achieve in the form of a list. This list allows us to write down tasks, reprioritize tasks more efficiently, and manage them for increased productivity.]

### Goals

[Sample Goal - In this article, we will learn about the Webiny CMS and how we can use it in a React application by working on building a To-Do app.]

### Ou

[2022-06-21 15:23] #22 closed

[2022-06-23 11:31] swapnilmmane commented on #13
Hi @Dsalinasgardon, thank you for sharing the abstract.
Sorry, it seems that our team should define more information about what is expected in this blog.
As you are working on [this blog](https://github.com/webiny/write-with-webiny/issues/3), so I am putting this issue on `Hold` for now until we can get some outline and expectations from the team.

Thanks again for your interest!

[2022-06-23 13:53] swapnilmmane commented on #4
Hi [@miracleonyenma](https://github.com/miracleonyenma), Thanks again for your kind interest in the Write with Webiny program.
Since we have various ToDo applications, unfortunately, we will be unable to consider your request.

Could you please have a look at the following available [blog ideas](https://github.com/webiny/write-with-webiny/issues?q=is%3Aissue+is%3Aopen+label%3A%22Looking+for+a+writ

[2022-06-23 13:55] swapnilmmane commented on #1
Hi @TheGhoulRe, Thanks again for your kind interest in the Write with Webiny program.
Since we have various ToDo applications, unfortunately, we will be unable to consider your request.

Could you please have a look at the following available [blog ideas](https://github.com/webiny/write-with-webiny/issues?q=is%3Aissue+is%3Aopen+label%3A%22Looking+for+a+writer%22) and see if anything works for you.

[2022-06-23 14:15] TheGhoulRe commented on #1
Hi @swapnilmmane. No problem, I'll look into the list of available topics, and select one soon

[2022-06-23 16:13] miracleonyenma commented on #4
Hey @swapnilmmane, that's quite sad. But there's no issue. I would still love to take up another topic. I think all your suggestions are great and I would love to go with the one on **"building a Pinterest clone with Webiny"**.

Here's the modified abstract:

### Introduction
Serverless infrastructure has many benefits when it comes to building modern applications. These benefits include lower lat

[2022-06-23 16:53] am-miracle commented on #15
Hi @endymion1818

I'd like to work on this.

[2022-06-23 16:55] miracleonyenma opened #23 "Building a Photo Gallery app with Webiny and Nuxt.js"
### Introduction

Serverless infrastructure has many benefits when it comes to building modern applications. These benefits include lower latency, reduced costs, quicker deployments, and many more. With a serverless application framework like Webiny, we can build modern applications powered by serverless architecture.

In this tutorial, we're going to see how we can build a full-stack application

[2022-06-23 16:57] miracleonyenma commented on #4
Hey @swapnilmmane, that's quite sad. But it's okay.
I would still love to take up another topic. I think all your suggestions are great and I would love to go with the one on **"Building a Pinterest clone with Webiny"**.

[Here's the new issue with the modified abstract](https://github.com/webiny/write-with-webiny/issues/23)

[2022-06-24 06:45] pradeephubgit commented on #11
A high-level overview of this task could be the following:

1. Create a site using Hugo with one of the available themes, and add blog content to it. To ensure better control and privacy for the personal blog, instead of hosting it in the Hugo server, go to Step 2.
2. Host the blog through Webiny's CMS (Self-hosting).

Please let me know if more details are required. I will research and add them.

[2022-06-24 20:23] asaayushisingh commented on #16
Hii @endymion1818 ,i'd like to work on this

[2022-06-25 06:47] fabulousDesigns commented on #14
A headless CMS keeps data in a backend database, but in contrast to a standard CMS service, where the information is displayed using a predefined template, the content is given via an API, giving developers the freedom to consume the data across different clients or frontend frameworks.
Webiny is one such instance of a headless CMS. Its serverless headless CMS offers a customized admin application

[2022-06-27 09:53] endymion1818 commented on #4
Closing in favor of #23

[2022-06-27 10:22] endymion1818 opened #24 "Create a blog with Webiny and Svelte / SvelteKit"
### Introduction

Svelte is an efficient frontend framework and compiler that works using forward refs instead of a virtual DOM. Using SvelteKit as a static site generator for Webiny Headless CMS is a great choice for building a blog site.

### Goals

This article aims to instruct the user how to connect to Webiny and use it as a data source for a frontend built with Svelte and SvelteKit.

### Out

[2022-06-27 11:14] EmmanuelTheCoder commented on #11
I'd love to be assigned this task.

[2022-06-27 12:20] endymion1818 commented on #11
Sorry @EmmanuelTheCoder, since @pradeephubgit was the first to submit a brief for this article we are going to ask them to write this article. We'd be super happy if you could pick any other article with a "looking for a writer" label, or you could submit your idea.

[2022-06-27 14:51] EmmanuelTheCoder commented on #10
So that I get it well, the task is to clone css-tricks.com using Webiny and NextJS, right?

[2022-06-27 15:01] endymion1818 commented on #10
@EmmanuelTheCoder Yes that's correct

[2022-06-27 15:07] EmmanuelTheCoder commented on #10
Thanks. Will send in the brief shortly.

[2022-06-27 15:08] EmmanuelTheCoder commented on #10
@endymion1818 Thanks. Will send in the brief shortly.

[2022-06-27 17:10] EmmanuelTheCoder commented on #10
## Introduction

The numerous benefits and simplicity of Headless Content Management Systems are the topmost reasons why anyone will choose it for building modern application. Alot of CMS exist today that solve problems associated with managing contents across multiple platforms but only a few of them comes with needed perks such as easy scalability, data privacy, less cost in running & maintenanc

[2022-06-28 08:50] pradeephubgit commented on #11
Thanks for the clarification, @endymion1818 . I will start my task today. Again, thanks to you, @swapnilmmane  and the Webiny team for the writing opportunity.

[2022-06-29 09:37] endymion1818 opened #25 "Next-generation image handling in Webiny using the File Manager"
### Introduction

With most CMS you have to manage images as part of a separate service. But Webiny has a built-in alternative to Cloudinary, imgx and other services that you can use to fetch images from a CDN, saving you money, build times and still hitting that important first contentful paint metric.

### Goals

- Brief tour of Webiny CMS file manager
- Show how to fetch & render images from th

[2022-06-29 09:47] endymion1818 opened #26 "How to build a custom field plugin for Webiny Headless CMS"
### Introduction

Webiny has been built with developer experience in mind. It's composable architecture makes it easy to create plugins to modify any part of the admin interface, the GraphQL resolvers, and the APIs.

### Goals

Create a new plugin to modify the admin interface by changing the logo.

### Outline

- Introduction: Why is composable architecture important in a CMS
- How to create a ne

[2022-06-29 09:55] endymion1818 opened #27 "A Guide to Authentication and Authorization in Webiny"
### Introduction

Are you stuck paying hefty bills for SSO (single-sign-on) for your current CMS? Webiny makes it easy to write your own integration with auth providers such as Auth0, Okta, and even Microsoft or Google. Here's how to create your own authentication flow using Webiny Headless CMS.

### Goals

Show how to create a new plugin that authenticates with a commonly used choice of auth prov

[2022-06-29 09:59] endymion1818 opened #28 "How to implement Pagination with Webiny headless CMS in Svelte"
### Introduction

_No response_

### Goals

[Sample Goal - In this article, we will learn about the Webiny CMS and how we can use it in a React application by working on building a To-Do app.]

### Outline

- Introduction
- How pagination works in Webiny Headless CMS APIs
- Paginating a Svelte blog using next / previous
- Paginating a Svelte blog with numbered pages
- Conclusion

### Sample articl

[2022-06-29 10:01] endymion1818 opened #29 "Build a todo app using Webiny Headless CMS and Swift"
### Introduction

How to use Swift to create a ToDo application.

### Goals

Build a simple Swift app that has CRUD operations using Webiny Headless CMS

### Outline

_No response_

### Sample articles

_No response_

[2022-06-29 10:09] endymion1818 opened #30 "How to implement Pagination in Vue.js with Webiny headless CMS"
### Introduction

_No response_

### Goals

We will build a simple list of paginated content using Vue.js and Webiny Headless CMS

### Outline

- Introduction
- How pagination works in Webiny Headless CMS APIs
- Paginating a Vue blog using next / previous
- Paginating a Vue blog with numbered pages
- Conclusion

### Sample articles

_No response_

[2022-06-30 10:32] EmmanuelTheCoder commented on #1
@endymion1818 Alright.

[2022-06-30 12:26] endymion1818 commented on #14
@fabulousDesigns Hey, I've reached out to you on the community slack channel, let's talk more there!

[2022-06-30 13:46] kimkimani opened #31 "Build a CRUD To-do Application with Flutter and Webiny Headless CMS"
### Introduction

Flutter is a multi-platform development toolkit. It allows you to build native applications that can be compiled and run on different platforms, such as Android, IOS, web, and desktop. This hugely speeds up mobile development workflow and promotes code reusability.

As a developer who wants to build a full-stack flutter application, you need a server to manage your data and consu

[2022-06-30 15:51] endymion1818 commented on #15
Google doc for this article: https://docs.google.com/document/d/1Sspfv70vDPyvxIEWMScsdjalzfMpgEWfdc8bxDJ5c64/edit

[2022-07-04 16:54] Victory-ET commented on #9
Hi @swapnilmmane,

I'm done writing the draft for the article. Here is a [link to the draft](https://www.dropbox.com/scl/fi/pb44suummlth9mozihjel/Build-a-Todo-Application-in-React.js-and-Webiny-CMS.paper?dl=0&rlkey=mtad6l5b476l3j8u9909e877j) for the named article, written on Dropbox Paper.

[2022-07-04 17:31] Tammibriggs commented on #2
Hi @swapnilmmane,

Sorry for the delay in submitting the article. I am done with it.

Here is the link to it on Dropbox:
https://www.dropbox.com/scl/fi/b16zp8awj29pdli9cv1s8/How-to-implement-Pagination-with-Webiny-headless-CMS-in-React.paper?dl=0&rlkey=80k1lbp1as0tucq2gr7mnt1nl

[2022-07-05 08:54] ChisomUma commented on #27
Hi Webiny, I am interested in writing on this topic.

Hope to get a response soon.

Regards.

[2022-07-05 09:02] endymion1818 commented on #16
@singhavs please could you submit your brief before Thursday by commenting below. Otherwise you could lose the opportunity to work on this article.

[2022-07-05 12:06] Tammibriggs commented on #30
Hi @endymion1818,

I am interested in writing this article.

[2022-07-05 13:09] endymion1818 commented on #30
Hi @Tammibriggs, I've just tested it and have a working example, here's my query, hope it helps!

[code]

[2022-07-05 14:22] Tammibriggs commented on #30
Hi @endymion1818,

I am aware the cursor-based pagination available using GraphQL API. But using this type of pagination, Paginating with numbered pages can't be implemented on the frontend.

[2022-07-06 12:14] Tammibriggs commented on #30
Hi @endymion1818,

I will like to know how I should proceed with this.

[2022-07-11 14:05] IsaacThaJunior commented on #16
I'd love to write on this

[2022-07-12 10:37] endymion1818 commented on #16
Hi @IsaacThaJunior Thanks for your interest in this article! Could you submit a brief and outline by commenting below, then we can assess what your plan is and give you the go ahead or refine it before you start writing. Glad to have you on board!

[2022-07-12 16:00] endymion1818 commented on #18
Published 👏 Thank you @kimkimani

[2022-07-12 16:00] #18 closed

[2022-07-12 16:56] IsaacThaJunior commented on #16
This article will cover how to use Webiny Headless CMS and Remix to develop a blog application.

Introduction
Prerequisites for following along
Understanding Webiny and why use Webiny
Understanding Remix and benefits of using Remix
Setting up Webiny Headless CMS
Creating models
Adding content
Setting up Roles and Permissions
Setting up Remix
Installing Tailwind for styling purposes
Fetching data f

[2022-07-14 20:41] Goodnessuc opened #35 "Building GraphQL APIs in Go using the GraphQLGen Package"
### Introduction

There are many graphql packages in Go however, gqlgen is the most feature-rich and most used package for building GraphQL  APIs and servers in Go. The article will use a SQL database.

### Goals

We will be building a CRUD GraphQL API in Go using the GORM ORM package to connect to the SQL database.

### Outline

- Introduction
    - Why GraphQL
    - The packages
        - GORM

[2022-07-20 10:48] endymion1818 commented on #2
Article published 🎉 https://www.webiny.com/blog/implement-pagination-webiny-headless-cms-react

[2022-07-20 10:48] #2 closed, assigned to Tammibriggs

[2022-07-20 11:41] Tammibriggs commented on #2
@endymion1818 Thanks.

[2022-07-21 09:11] endymion1818 commented on #23
Hey @miracleonyenma, how are you getting on with the article? Please let us know by Monday otherwise we will have to move it back to "looking for a writer"

[2022-07-24 16:08] miracleonyenma commented on #23
Hey @endymion1818 !

Terribly sorry for not updating you on my progress.
I ran into some issues setting up Webiny on my machine.

Fortunately, I managed to get it up and running last week and will be working the article this week ☺️.

Thanks for understanding 🙏🏾

[2022-07-25 08:40] endymion1818 commented on #23
Hi @miracleonyenma, no worries, glad you got it working! But also don't forget the [slack](https://www.webiny.com/slack) community is there to support you if you get stuck again!

[2022-07-26 08:03] endymion1818 opened #41 "Create a blog with Webiny and Eleventy"
### Introduction

Eleventy (also known as 11ty) is a static site generator written in JavaScript that produces HTML output only. It's suitability as a frontend for Webiny Headless CMS is a great choice for building a blog site.

### Goals

This article aims to instruct the user how to connect to Webiny and use it as a data source for a frontend built with eleventy.

### Outline

- Brief introducti

[2022-07-26 11:45] Annysah commented on #41
Hello @endymion1818 ,
I will love to work on this.

[2022-07-26 12:24] samarpit30 commented on #6
I am interested in solving this issue.

[2022-07-26 12:25] endymion1818 commented on #41
Hi @Annysah, that's great! I'll set you up with a Notion document

[2022-07-26 12:28] swapnilmmane commented on #6
Great, thank you @samarpit30 for your interest. I am assigning this issue to you.

[2022-07-26 13:06] Annysah commented on #41
Thank you!

[2022-07-26 14:35] samarpit30 commented on #6
Hi @swapnilmmane !
I am planning to include the following features in the application, and here is the brief.
## Application Features
### Board Management
Create, Edit, and Delete a Board

### List Management
Users can create, edit, and delete lists on a board

### Card Management
Users can create, edit, delete cards and move them among the lists.

![Trello](https://user-images.githubusercontent.c

[2022-07-27 14:16] swapnilmmane commented on #6
Thank you @samarpit30, the abstract looks good to us, and happy for you to proceed with it! 👍

[2022-07-31 05:29] DeelesiEmmanuel commented on #12
I'd love to write on this

[2022-07-31 05:29] iamVictorSam commented on #12
I'd like to write on this

[2022-07-31 05:54] icode247 commented on #28
Hi,
I can work on this topic.

[2022-08-01 11:54] swapnilmmane commented on #16
Hi @IsaacThaJunior, here is a [Notion document](https://www.notion.so/webiny/Build-a-blog-with-Remix-and-Webiny-Headless-CMS-2b36a5c0fbba4da69fceac7a06225b88) that you can use to manage the draft for your article, thank you!

[2022-08-01 19:27] UcFlutter commented on #31
I'd like to take the topic

[2022-08-02 02:05] vdaita commented on #25
Hello @endymion1818 I would like to work on this.

[2022-08-02 08:25] #15 closed

[2022-08-02 18:38] vdaita commented on #25
Outline
- Explain how CDN works
- Explain Webiny vs other CDN and cost savings
- Overview of how to use the CMS file manager
- Tutorial in various contexts on how to embed images in webpage

[2022-08-03 06:01] Scofield-Idehen opened #43 "Create a Web3 Buy/Sell Button using JavaScript/solidity"
### Introduction

Creating a smart contract that can be deployed by clicking a button and allowing us to see and find the actual price of ETH to USD and we can buy a token.

### Goals

In this article, readers will learn how to integrate smart contracts in their front-end development and allow users to buy coins with a click of the button

### Outline

1. Introduction (Why is this topic important)

[2022-08-03 09:39] endymion1818 commented on #43
Hi @Scofield-Idehen ! Thanks very much for your submission ... Web3 is a subject we're keen to cover. But I'm struggling to see how Webiny fits into this tutorial?

[2022-08-03 09:42] endymion1818 commented on #35
Hello @Goodnessuc, thanks very much for your submission! How does Webiny Headless CMS fit into this tutorial?

[2022-08-03 09:44] endymion1818 commented on #30
Hi @Tammibriggs I've sent you a Notion page for this article via Slack. Reach out to me there if you get stuck with anything.

[2022-08-03 09:47] endymion1818 commented on #28
Thanks for your interest @icode247, have you written similar articles to this previously? Do you have experience with Svelte? We'd like to see some of your work so we can assess your ability to complete this tutorial in good time. Thanks in advance.

[2022-08-03 09:48] endymion1818 commented on #27
Hello @ChisomUma , how is the article progressing? Please update us soon so that we can keep you assigned to write it. If you need help please reach out here or on our Slack channel.

[2022-08-03 09:53] endymion1818 commented on #25
Hi @vdaita thanks for your interest in writing with Webiny! Do you have any article content that you've previously written you could show us?

[2022-08-03 10:07] endymion1818 commented on #13
Sorry @Dsalinasgardon, as we clarified over Slack, we're dropping this article, but we're keen for you to stick with us and pick something else up.

[2022-08-03 10:07] #13 closed

[2022-08-03 11:10] vdaita commented on #25
I have a couple non-technical articles posted on my Medium page:
***@***.***

On Wed, Aug 3, 2022 at 5:53 AM Ben Read ***@***.***> wrote:

--
*Vijay Daita*
daita.com
https://www.linkedin.com/in/vijay-daita-38959b198/

[2022-08-03 12:13] icode247 commented on #28
Hi @endymion1818
I have knowledge of Svelte, but I have not written any content around Svelte yet. But I have written on other JavaScript and React frameworks.

https://blog.openreplay.com/authors/ekekenta-odionyenfe-clinton
https://blog.logrocket.com/author/ekekenteodionyenfe/

Thanks

[2022-08-03 14:37] Scofield-Idehen commented on #43
Ok, do I have to write something directly related to webiny, or majorly using key infrastructure specified on webiny?

[2022-08-03 15:08] endymion1818 opened #45 "Build a Photo Gallery with Gatsby and Webiny Headless CMS"
### Introduction

With Webiny Headless CMS you can leverage the best of both worlds: it's a place to store both content and files, making it an ideal way of building a photo sharing app similar to Pinterest, Instagram or Flickr. This tutorial will discuss how to make a photo gallery with [Gatsby](https://gatsbyjs.com), using Webiny's internal file manager to store images, and the headless CMS to s

[2022-08-03 15:25] endymion1818 commented on #43
Yes it does need to be directly related. I am looking for someone to explore whether Webiny can authenticate using MetaMask, if that's something you're interested in looking into?

[2022-08-03 16:12] Scofield-Idehen commented on #43
I would be excited to work on that.

[2022-08-03 23:58] am-miracle commented on #45
I would like to work on this

[2022-08-04 10:44] ChisomUma commented on #27
Hi @endymion1818 my apologies. I am still working on my article, but I would need some guidance on creating the plugin. Thanks!

[2022-08-04 14:20] endymion1818 commented on #27
@ChisomUma let's chat on Slack about this 👍 See you there!

[2022-08-05 08:55] endymion1818 commented on #26
Hi @menard-codes! Yes, here are some docs on plugin creation: https://www.webiny.com/docs/core-development-concepts/basics/plugins

[2022-08-05 09:33] menard-codes commented on #26
Thanks!
I already read the docs and it seems interesting to write. May I request this article?

[2022-08-05 14:01] endymion1818 commented on #26
@menard-codes Let's chat some more! I've sent you a message on our Slack community, chat to you there.

[2022-08-06 14:41] Scofield-Idehen commented on #43
Hello, I have been researching the topic but do you have a base outline I should focus on, or do I have freedom to create however I please?

Please clarify the topic name for me.

Best regards.

[2022-08-08 10:01] endymion1818 commented on #43
Hi @Scofield-Idehen, let's chat more on our Slack channel about this!

[2022-08-08 11:25] iamVictorSam commented on #12
@endymion1818

[2022-08-08 11:52] endymion1818 commented on #12
Hi @iamVictorSam , sorry for the late reply there! Yes, it's available. Could I ask if you have published any similar articles along these lines? I just want to make sure you can complete the task in good time, and make sure it won't cause you too much stress too. Feel free to DM me on Slack if you want to discuss it a bit more.

[2022-08-08 13:53] endymion1818 commented on #31
Sorry @UcFlutter , this article is already taken, it would be great if you could choose another or suggest one!

[2022-08-08 13:53] #31 closed

[2022-08-08 13:55] endymion1818 commented on #43
Closing pending further research, thanks @Scofield-Idehen for your input!

[2022-08-08 13:55] #43 closed

[2022-08-08 13:57] #35 closed

[2022-08-08 13:59] endymion1818 commented on #28
Hi @icode247, yes please! Wed be happy for you to pick this one up. Feel free to DM me on Slack if there's anything you need otherwise we look forward to your submission.

[2022-08-08 14:30] endymion1818 commented on #25
Hi @vdaita, thanks for that! This is a non-technical article so that's fine. We are looking to cover every feature that the file manager contains. Would you be able to submit a more detailed brief about how you plan to cover them? Thanks!

[2022-08-09 09:56] endymion1818 opened #48 "Build a Monorepo for your Internationalized Frontends with Nx and Webiny"
### Introduction

[Nx](https://nx.dev) is a popular workspace management tool that helps manage dependencies and provides other useful features such as computation caching, smart rebuilds and easy code sharing when building groups of sites, APIs and libraries in a monorepo.

Although you can use Webiny to manage your frontend projects as well, some teams like to separate concerns by having a separ

[2022-08-10 12:29] endymion1818 commented on #27
After chatting on Slack, @ChisomUma and I decided that a different article would be more suitable. This is a slightly more advanced topic that requires knowledge of auth flows and of Webiny in particular.

[2022-08-10 13:53] endymion1818 opened #49 "[REQUESTED CONTENT] Fetch and Display Chart Data using Chart.js and Webiny Headless CMS"
### Introduction

Whether it's for an organizations online Annual Report, or to display results from some campaign, building charts is one of the staples of JavaScript development. But where do you store the data? What if there's a reassessment of the results when you're in the middle of building it? Rather than hard code your data, you can use a Headless CMS to store that data. With it's flexible

[2022-08-10 14:00] endymion1818 opened #50 "[REQUESTED CONTENT] Build a Blog with Python's Pelican Static Site Generator and Webiny Headless CMS"
### Introduction

Pelican is a static site generator for Python developers. If you're familiar with Python, you might be using this tool to write your own blog. But storing data in your codebase can be hazardous. Here's how to use Webiny Headless CMS to fetch data.

### Goals

In this article we will learn how to use Pelican to fetch data from Webiny Headless CMS GraphQL API and build a blog index

[2022-08-10 16:14] Claradev32 commented on #50
Hi @endymion1818 ,
I can work on this article.

[2022-08-11 09:33] endymion1818 commented on #50
Thanks for your interest @Claradev32! Just to make sure this topic is suitable for you please could you let us know what experience you have with Python? Particularly fetching data from an API. We'd also really like to see any technical articles you've already written if you have any.

[2022-08-11 10:39] EmmanuelTheCoder commented on #27
@endymion1818  do you think it's something I can spin?

[2022-08-12 00:05] Claradev32 commented on #50
Hi @endymion1818 ,
I have good knowledge of Python but I don't have any tutorial yet. But I have lot of tutorial on Javascript frameworks and React frameworks.
https://arctype.com/blog/author/clara/
https://blog.logrocket.com/author/claraekekenta/
https://blog.openreplay.com/authors/clara-ekekenta

I look forward to a getting startegd on this.
Thanks

[2022-08-12 07:23] sid-khuntwal commented on #49
Would like to work on this one @endymion1818

[2022-08-12 08:16] endymion1818 commented on #49
Hi @sid-khuntwal, that's great! Have you worked with a charting library before? Could we also see some samples of your writing on a similar technical topic?

[2022-08-12 08:18] endymion1818 commented on #50
Great! Thanks for that info. I'll send you a freelance writer contract via DM in the Slack channel 👍

[2022-08-12 14:21] endymion1818 opened #52 "[REQUESTED CONTENT] Build a blog with Scully, the Angular Static Site Generator, and Webiny"
### Introduction

Scully is the best static site generator for Angular projects looking to embrace the Jamstack. It renders static content (HTML, CSS and JavaScript), from Angular templates, so you can host your website on Netlify, Vercel or any other infrastructure you want. Combining that with a backend using Webiny Headless CMS is a great way of providing a nice UI to author, and a database to

[2022-08-13 03:16] EOEboh commented on #52
Hi @endymion1818 , I would love to take this. If that's cool.

[2022-08-13 05:53] sid-khuntwal commented on #49
Yes, I have worked on chart.js. for my writing samples, I would request you to have a look at my blog - sidlyf.com

[2022-08-17 18:46] #10 closed

[2022-08-17 18:53] #16 closed

[2022-08-18 20:05] Davidohis commented on #24
Hi Webiny, I am interested in writing on this topic.

Hope to get a response soon.

Regards.

[2022-08-19 08:20] endymion1818 commented on #24
Hi @Davidohis, great! Let's get you onboarded, I'll send you some things via DM in the Slack channel.

[2022-08-19 08:33] endymion1818 commented on #23
Hi @miracleonyenma we need you to sign a freelance writer agreement with us, as a matter of urgency could you please contact me via Slack and we'll get you set up. Thanks!

[2022-08-19 08:34] endymion1818 commented on #14
Hi @fabulousDesigns, we need you to sign a freelance writer agreement with us, as a matter of urgency could you please contact me via Slack and we'll get you set up. Thanks!

[2022-08-21 13:01] EmmanuelTheCoder commented on #48
`Set up 2 applications using existing Nx Plugins for Svelte / Next / Astro`

You mean either Svelte, Next or Astro and not all of them, right?

[2022-08-23 20:41] miracleonyenma commented on #23
Alright @endymion1818

I just dropped a message on slack.
I'm just responding now because I've been unavailable for the past week. I'm really sorry for any inconvenience it may have caused 🙇🏾‍♂️

[2022-08-24 08:34] endymion1818 commented on #23
No worries @miracleonyenma

[2022-08-25 08:42] endymion1818 commented on #3
Closing as we had another article that was materially identical to this one. It was nice to have an honest chat to you about this @Dsalinasgardon, looking forward to working together on something else soon!

[2022-08-25 08:42] #3 closed

[2022-08-26 09:56] #9 closed

[2022-08-29 09:59] endymion1818 commented on #14
Hey @fabulousDesigns, thanks for sending us your content! Could you sign the scope of works? We won't be able to publish it before we have that signed document.

[2022-08-30 11:11] kimkimani opened #55 "[SUBMIT] Android and GraphQL: Building Android with Kotlin and GraphQL using Webiny CMS"
### Introduction

Building Android with Kotlin and GraphQL using Webiny CMS

### Goals

In this article, we will learn about the Webiny CMS and how we can use it and build Android using Kotlin and GraphQL

### Outline

- Introduction
- Goal
- Prerequisites
- What is Webiny CMS?
- What is GraphQL?
- Benefits of GraphQL endpoints
- Generating GraphQL APIs using Webiny CMS
 - Setting Up Webiny CMS
 -

[2022-08-30 21:56] Qodestackr commented on #27
What's the progress on this one? I'm looking for an article to write about.

[2022-08-31 08:15] endymion1818 commented on #27
This is an _advanced_ tutorial, so we would expect you to have a proven, comprehensive understanding of authentication flows and some experience building plugins with Webiny before we can assign it to you. We're planning some other article subjects so keep an eye out for those!

[2022-08-31 15:39] endymion1818 commented on #55
Hi @kimkimani! Thanks for this submission. Could we refine it a little? We'd like it to be one of the following:

- A Photo sharing app (Instagram clone)
- A Video sharing app (TikTok clone)
- A Food ordering app (Deliveroo clone)
- A Holiday booking app (AirBnB clone)

[2022-09-01 12:01] #26 closed

[2022-09-03 07:12] petipois opened #58 "[SUBMIT] Create a Job Board Application with Webiny, Vue & GraphQL"
### Introduction

Job Board applications are a way for employers to advertise job vacancies to potential employees or freelancers.

Job Board applications like Upwork, freelancer and other on company websites are a great way to advertise vacancies for potential talent to join their company or to complete a project.

### Goals

 In this article, we will learn about the Webiny CMS and how we can use

[2022-09-06 08:41] EJINEROZ commented on #11
If by any chance I’d love to be assigned this topic if it’s still open.

[2022-09-06 08:48] swapnilmmane commented on #11
Thank you @EJINEROZ for your interest. Could you please share the brief and topics that you are planning for this article and also some of your sample articles, thank you!

[2022-09-06 09:20] swapnilmmane commented on #58
Hi @petipois, thank you for the detailed outline. It looks nice. As a next step, I have sent you a statement of work to sign.
Once that is signed, I will create a Notion document for you to write the article.
Looking forward to collaborating with you, thanks!

[2022-09-06 15:46] EJINEROZ commented on #11
@swapnilmmane
1. Introduction To Hugo and Webiny CMS
2.Basic setup of both Hugo and Webiny
3.Create Static Hugo website and add content to it(brief intro to Hugo theme)
4.Integrate Hugo to Webiny CMS
5.Exemplary Post on Hugo website
6.Deployment
7.Conclusion

[2022-09-07 10:07] Qodestackr commented on #27
I can handle it 🙌

[2022-09-07 20:48] petipois commented on #58
Great, I will await the notification of the notion document.

[2022-09-08 08:38] swapnilmmane commented on #11
Thank you, @EJINEROZ, for sharing it. It would be great if you could include a little elaborative outline, especially could you please elaborate these two points more

Also, it will be great to include the blog listing and blog details page. And allow users to filter articles by author, thanks!

Could you please also share some of your previous written articles.

[2022-09-08 12:20] swapnilmmane commented on #58
Thank you @petipois, I have shared a Notion document with you. Please feel free to have a look at the instructions in it and use it for writing your draft.
Looking forward to your article! 🙌

[2022-09-08 12:25] #5 closed

[2022-09-13 15:38] petipois commented on #58
Hello @swapnilmmane,
I have create a draft of the article on notion. I would be interested to have some feedback and comments on improvements.
thank you

[2022-09-15 12:05] #30 closed

[2022-09-15 17:07] EmmanuelTheCoder commented on #11
Hi @endymion1818  @swapnilmmane

Can I take this?

[2022-09-16 13:52] Tammibriggs opened #59 "[SUBMIT] Build a blog with Vue and Webiny Headless CMS"
### Introduction

If you have tried building a blog from scratch by writing the server-side code and then integrating it with the client side you can tell how much time and effort is required to complete it. But this isn't the case with the use of a CMS like Webiny where a ready-to-use Admin page for creating, editing, publishing, and managing content has been created for you, giving you as much t

[2022-09-16 14:04] Tammibriggs opened #60 "[SUBMIT] Build a blog with React and Webiny Headless CMS"
### Introduction

If you have tried building a blog from scratch by writing the server-side code and then integrating it with the client side you can tell how much time and effort is required to complete it. But this isn't the case with the use of a CMS like Webiny where a ready-to-use Admin page for creating, editing, publishing, and managing content has been created for you, giving you as much t

[2022-09-19 09:42] endymion1818 commented on #60
Thanks @Tammibriggs, we have a lot of articles on creating blogs at the minute ... can you think of anything else that's similar? Perhaps a recruitment agency website?

[2022-09-19 09:44] endymion1818 commented on #59
Hi @Tammibriggs , similar to my comment on the other blog ... most of the others we have require some kind of user account setup. we're preparing some documentation on how to do that but it's not going to be ready for a little while unfortunately. If you can find another subject tht doesn't require user accounts, we'd happily consider it.

[2022-09-19 09:47] endymion1818 commented on #48
Yes that's correct. Nx is very opinionated, it's for iterating on one core concept so one of these technologies is suitable.

[2022-09-19 09:53] Tammibriggs commented on #59
Ok. I understand.

[2022-09-19 10:00] Tammibriggs commented on #60
Ok. Let me submit a different topic.

[2022-09-19 10:12] endymion1818 commented on #12
@iamVictorSam Hey, are you still interested in this article?

[2022-09-19 10:23] Tammibriggs commented on #60
@endymion1818 I will kike to build the recruitment agency website as suggested.

Let me submit an outline for it. Do you have specific features in mind you would like the website to contain?

[2022-09-19 10:31] endymion1818 commented on #60
@Tammibriggs Awesome, thanks! It should contain the common fields for job ads, jobs should be valid only for certain periods and afterward shouldn't be rendered on the frontend. People should be able to apply for them by completing a simple form which can be a repeater field on the ad. The form shouldn't contain a file upload since that's hazardous with unauthenticated users.

[2022-09-20 02:41] FeliciaSephodi commented on #41
I'd love to work on this!

[2022-09-20 07:03] Tammibriggs opened #61 "[SUBMIT] Build a job board with Webiny Headless CMS and React"
### Introduction

A job board is an app or section of a website where job vacancies are advertised by employers to potential employees or freelancers. They mostly include feature for searching and filtering jobs, and a form for applying for a job.

### Goals

In this tutorial, we will learn about the Webiny CMS and how we can use it in React by building a job board application.

### Outline

- Int

[2022-09-20 09:32] Tammibriggs opened #62 "[SUBMIT] Building a personal E-Commerce site with Webiny, Redux toolkit, Stripe and React"
### Introduction

_No response_

### Goals

In this tutorial, we will be building a personal E-commerce site using Webiny to store our content, Redux toolkit for state management and Stripe to handle payment.

### Outline

- Introduction
- Tools we will be using with React
- Setting up our Webiny Headless CMS
- Defining Content Model in the Admin App
- Adding items
- Building E-Commerce frontend

[2022-09-20 14:18] endymion1818 commented on #41
Hi @FeliciaSephodi , thanks for your interest! I'd like to see some examples of your work before I give the go ahead, unfortunately most of the links on your GitHub profile are not working. Do you have existing articles you've written that I could see? Have you worked with Eleventy before?

[2022-09-22 09:52] Victory-ET opened #64 "Building a marketing site with forms functionality with React and Webiny"
### Introduction

When people build applications or develop products, they may be required to get customer feedback on the product to determine areas for improvement. This feedback are usually gotten through online forms called survey forms. These form responses are scrutinized to determine the customer’s desires.

### Goals

In this article, readers will learn how to create a survey form with Web

[2022-09-22 12:03] #58 closed

[2022-09-22 12:42] endymion1818 commented on #64
Hey @Victory-ET ! Thanks for the submission and the outline. Can we change it a little bit?

**Title:** Building a marketing site with forms functionality with React and Webiny
**Brief:** We will build a marketing site in React and embed a [Webiny Headless CMS no-code Form Builder](https://www.webiny.com/enterprise-serverless-cms/form-builder) form in a page to collect submissions from potential c

[2022-09-22 12:52] endymion1818 opened #66 "Build a quiz app using Webiny and Angular"
### Introduction

Building an application to host quizzes is a popular coding challenge. Often though, the questions and answers are hard-coded into the application itself. But what if you needed to update them? In this article, we will store questions and answers in Webiny Headless CMS and render a quiz UI using Angular.

### Goals

_No response_

### Outline

- Introduction
- Prerequisites
- Int

[2022-09-22 12:53] endymion1818 commented on #62
Thanks @Tammibriggs, let's hold off on this one so you can focus on #61

[2022-09-22 12:56] endymion1818 commented on #60
Sorry that should have been on #61 lol, I'm putting this one on hold for now so you can focus on that issue. Thanks!

[2022-09-22 12:59] endymion1818 commented on #59
On hold, let's get to this one after #61 is complete.

[2022-09-22 15:07] mandah-israel commented on #66
Hi @endymion1818, I will like to write on this. How should i proceed?

[2022-09-23 04:22] FeliciaSephodi commented on #41
I do have articles that I've written before, no I've never worked with Eleventy before is that a problem?

[2022-09-23 09:17] endymion1818 commented on #66
Hi @mandah-israel, that would be great! Please [join us in the community](https://www.webiny.com/slack), and send me a DM, we can onboard you as a writer.

[2022-09-23 09:18] endymion1818 commented on #41
Great, it's not necessarily a problem. I would like to see some examples of your written work, do you have any we could take a look at?

[2022-09-23 09:19] endymion1818 commented on #66
Additionally, I would like to see some examples of your written work, do you have any we could take a look at?

[2022-09-24 11:11] paulodhiambo commented on #50
Hello @endymion1818 I would like to write this article.

[2022-09-24 11:23] IsaacThaJunior commented on #66
Hey @endymion1818 I would love to indicate my interest in writing this article

[2022-09-26 08:41] endymion1818 commented on #66
Hey Isaac! Thanks but I'm afraid @mandah-israel got here first ... we'd love you to write another article for us, so please take a look at what else is there, or submit an idea.

[2022-09-26 08:45] endymion1818 commented on #50
Hey @paulodhiambo, thanks for your interest! Please join the community so we can get you onboard with a freelance writer agreement.

[2022-09-26 16:37] petipois opened #68 "[SUBMIT] Create a Marketplace Application using Webiny & Apollo Vue"
### Introduction

Marketplace applications are popular to advertise products for sale such as Ebay or Vinted. These applications are a great way to sell unwanted items. These items do not have to be restricted by physical items, they could also be courses or digitial products etc.
Using Webiny CMS, and the power of content model with it's easy to navigate drag-n-drop style interface, will make thi

[2022-09-26 17:14] endymion1818 commented on #68
Awesome @petipois thanks so much this is great!

[2022-09-27 09:29] endymion1818 opened #69 "Build a Trello Clone with Gatsby and Webiny"
### Introduction

Trello allows users to organize their work in easy to manage, drag & drop columns. There are many similar services available on the web, but there are complexities in building such applications, for example, how to manage drag & drop interactions on the columns as well as the individual cards? And more importantly, where to store the data that users add to their board?

### Goals

[2022-09-27 10:35] IsaacThaJunior commented on #69
Hey @endymion1818 I'm interested in writing this

[2022-09-27 11:24] endymion1818 commented on #69
Awesome @IsaacThaJunior, I'll send you a scope of works doc soon.

[2022-09-27 11:46] gracegitt commented on #29
I would love to write on this topic

[2022-09-27 12:05] divofred opened #70 "[SUBMIT] Build a Chat Application using Webiny, NextJS, and Socket.io"
### Introduction

Communication is a very vital part of our human existence, and in some cases, distance could prove to be an obstacle. This is where chat applications come into play. Chat applications make it easy to communicate with various people worldwide in real time.

Follow through to discover how to build a real-time chat application using Webiny.

### Goals

In this article, you will lear

[2022-09-27 15:22] christofa opened #71 "Building a Voice Controlled News Application using React, Alan Ai and Webiny CMS"
### Introduction

A News application is an interactive database that conveys a story preferably using software rather than words or images. It can assist each reader in understanding a story in a way that is individually significant to them by displaying data that is particular to them.

### Goals

Readers will gain a thorough grasp of the Webiny CMS tool after reading this article, including how

[2022-09-28 06:27] AmenyaZ commented on #41
Hello @endymion1818 I would like to write this article

[2022-09-28 08:17] endymion1818 commented on #41
Thanks for your interest @AmenyaZ, @FeliciaSephodi is still under consideration to write this article, we'll let you know if anything changes.

[2022-09-28 08:19] AmenyaZ commented on #41
Thanks for the feedback @endymion1818. Will be on standby in case of any changes

[2022-09-28 09:04] AmenyaZ opened #72 "[SUBMIT]Build a Todo List Mobile App"
### Introduction

In people's daily activities, they organise what they are supposed to do. These tasks are often written down in a list hence the name ToDo List. With this nothing can be left unattended

### Goals

In this article, readers will learn how to create a ToDo List Android App with Webiny and store user data in a CMS.

### Outline

  - What is a Headless CMS?
  - Why use Webiny CMS?

[2022-09-28 09:29] AmenyaZ commented on #11
Hello, @endymion1818  @swapnilmmane I would love to work on this. Can I?

[2022-09-28 09:36] endymion1818 commented on #11
Hey Zaccheus! Join us in the community and send me a message, we'll chat more there!

[2022-09-29 10:53] endymion1818 commented on #72
Hi @AmenyaZ , thanks for the submission! As you are already assigned to #11, I'll put this one on hold for now. We can always come back to it once you have completed that assignment.

[2022-09-29 10:54] endymion1818 commented on #71
Hi @christofa, thanks this is a really interesting idea! Let's chat more on Slack.

[2022-09-29 11:12] AmenyaZ commented on #72
Noted

[2022-09-29 12:43] #23 closed

[2022-09-29 13:02] endymion1818 opened #73 "[Requested Content] Build a Notes app with Gatsby and Webiny Headless CMS"
### Introduction

Notes applications are a good way of learning how to build CRUD (Create, Read, Update & Destroy) operations in an application. Gatsby is one of the foremost React application frameworks out there. We'd like to see how you can read, create, update and delete notes stored on Webiny Headless CMS using Gatsby.

### Goals

Install Webiny and Deploy Webiny
Set up content types
Allow ac

[2022-09-29 16:34] menard-codes commented on #73
Just leaving this comment here to say that I'd love to write this one🙂
(Although I already expressed my interest via slack😅)

[2022-09-30 06:08] kmaurice012 commented on #41
I would like to work on this

[2022-09-30 08:21] endymion1818 commented on #41
Hello @kmaurice012, yes let's get you onboarded first. @AmenyaZ is working on #11 so this article is available. Please [join the community](https://www.webiny.com/slack), I'll see you there!

[2022-10-03 08:01] gracegitt commented on #52
Hi @endymion1818 is this topic still available? If so, I would love to work on it.

[2022-10-03 08:36] endymion1818 commented on #25
Hello @ath34-tech thanks for the offer, let's get you onboarded as a writer. I'd like to chat more to you on this topic about what we intend to cover. See you on the Slack channel 👍

[2022-10-03 09:50] kmaurice012 commented on #41
Ok cool @endymion1818  Am on board

[2022-10-03 10:27] gracegitt commented on #52
Okay...thanks too

[2022-10-04 05:50] Nziokitech commented on #27
I would like to work on this

[2022-10-04 05:52] Nziokitech commented on #48
I would like to on this

[2022-10-04 08:47] endymion1818 commented on #48
Hi @Nziokitech thanks for your interest! Have you worked with Nx before? I'd also really like to see some of your written content. Could you share some articles? Send me a DM in the community slack if that's easier 🙂

[2022-10-04 08:49] endymion1818 commented on #27
Hi @Nziokitech im afraid I can only assign this to someone who has experience of Webiny and preferably has already written an article for us. This is because it's a complicated technical subject which doesn't have any documentation yet.

[2022-10-04 09:42] Nziokitech commented on #59
hello @endymion1818 i would like to work on this, hope its open

[2022-10-04 09:44] Nziokitech commented on #27
okay, let me look for the one i can handle

[2022-10-04 09:54] endymion1818 commented on #59
Hey @Nziokitech, let's chat more in the community, please join and send me a DM https://www.webiny.com/slack/

[2022-10-04 12:11] kaf-lamed-beyt commented on #14
Hi @endymion1818

[2022-10-04 14:43] endymion1818 commented on #49
Hey @sid-khuntwal, we got your submission and have written a few comments for you ... do you think you can complete the article soon?

[2022-10-05 07:05] sid-khuntwal commented on #49
Hey so sorry to be missing on this, I met with an accident recently and am currently in the hospital. I don't think I would be able to review the changes anytime soon

[2022-10-05 07:10] endymion1818 commented on #49
Oh no! So sorry to hear that @sid-khuntwal, no worries we'll pause your article, please let us know when you're able to pick it up again.

[2022-10-06 09:05] endymion1818 opened #76 "[REQUESTED CONTENT] Building a Monorepo with NextJS and Webiny"
### Introduction

This content was requested by community members Daniel and Brendon:

"If someone would be able to write up on doing a monorepo with NextJS and Webiny I would be grateful. Extra points if you deploy NextJS in a serverless matter with Pulumi through Webiny scripts " — Daniel

"Would love to see this too. We're working on a Nx monorepo with Remix, deploying to AWS CloudFront, ideall

[2022-10-06 12:22] #61 closed

[2022-10-07 08:44] Geo-free opened #77 "Integrating Reactjs Site with Webiny Headless CMS"
### Introduction

In this tutorial, I will be taking the reader on how one sets up a CMS to a custom React Js site. I will not be going to build a CMS from scratch, instead, I would use Sanity - a headless CMS i.e, sanity.io, and just integrate it into a sample ReactJS application. I will set up a blog and then connect it to the ReactJS-based site, the front end.

Keep in mind that developers can

[2022-10-07 08:50] endymion1818 commented on #77
Hello @Geo-free ! Thanks for your submission :-D

We're specifically looking for articles that feature [Webiny Headless CMS ](https://www.webiny.com/) for this program. And I'm afraid we've already got a number of articles featuring React. We'd be happy to hear any other suggestions you have for other technologies and different projects though.

[2022-10-07 08:51] #77 closed

[2022-10-07 09:49] Geo-free commented on #77
Hello, what about this?
Building a static website with a .Net framework and Headless CMS

[2022-10-07 14:07] endymion1818 commented on #77
@Geo-free sorry my friend, .Net is not a technology we're focusing on just now.

[2022-10-10 22:18] Saintdavidking opened #80 "[SUBMIT]10 reasons to move from a Traditional CMS to headless CMS"
### Introduction

When using a traditional CMS, all modifications made on the backend must also be translated on the front end. Users may find this time-consuming and annoying. However, with a headless CMS, changes may be done immediately on the backend without disrupting the frontend experience.

### Goals

[Sample Goal - In this article, you will learn 10 reasons to move from a traditional CMS t

[2022-10-11 09:01] FeliciaSephodi commented on #41
Hi Ben

Below is a link of the articles I've written, i couldn't get others as they
were private.

https://tealfeed.com/feliciiadev

On Wed, 28 Sep 2022, 10:17 Ben Read, ***@***.***> wrote:

[2022-10-11 14:59] endymion1818 commented on #41
Hi Felicia, thanks for sending these in. Please could you DM me on the community Slack when you get the chance? Speak to you there!

[2022-10-12 01:19] FeliciaSephodi commented on #41
Hi Ben, i just sent you a message.

On Tue, 11 Oct 2022, 16:59 Ben Read, ***@***.***> wrote:

[2022-10-12 07:56] FlocyMisik commented on #76
I would like to write on this

[2022-10-12 07:56] FlocyMisik commented on #76
I would like to write on this

[2022-10-12 09:14] endymion1818 commented on #76
Hi @FlocyMisik, please send me a DM on the [Community slack](https://www.webiny.com/slack/), we can chat more there!

[2022-10-13 12:08] #68 closed

[2022-10-13 14:37] Saintdavidking commented on #80
Hello @endymion1818 can you please check out and give feedback

[2022-10-14 08:23] endymion1818 opened #83 "[Requested Content] Webflow vs Webiny"
### Topic

Webiny isn't just a CMS, it's also a page builder. The purpose of this article is to compare the features and USP (unique selling point) of Webflow with Webiny.

Proposed Outline
- What is a Page Builder
- Background to Webflow, USP & recent news
- Background to Webiny and USP
- Feature set comparison

#### Community Vote
👍 If you like this topic, please upvote it!

[2022-10-14 08:31] endymion1818 opened #84 "[Request New Content] How to Choose the Right CMS for Your Business"
### Topic

The purpose of this article is to highlight the advantages of Webiny as, not just a Headless CMS, but as a "swiss army knife" for content on the web. Your audience will be large multinational enterprise organizations that will typically have hundreds of websites, thousands of content creators and a presence on every continent.

Resources
- 2022 Product video https://www.youtube.com/watc

[2022-10-14 08:36] endymion1818 opened #85 "[Requested Content] The benefits of Serverless, and how that applies to a CMS"
### Topic

We are in the unique situation that people come to us looking for a CMS but don't understand what the benefits of serverless mean to them as an organization. The purpose of this article is to highlight the value proposition of serverless technology as it pertains to a Headless CMS built on this technology. We want to specifically highlight these factors:

- Scalability
- Cost
- Resilien

[2022-10-14 13:43] oyedeletemitope commented on #85
Hello @endymion1818 i’ll like to work on this

[2022-10-14 13:57] popoolatopzy commented on #84
hello @endymion1818 I'll like to work on this article.

[2022-10-14 18:05] Dsalinasgardon commented on #84
Can I take it? <3333

[2022-10-14 21:21] SamWSoftware commented on #85
Dropping a comment on here. Looking forward to putting this together

[2022-10-15 13:54] Saintdavidking commented on #80
Hello @endymion1818 here is the google docs link to the article

[2022-10-15 14:40] endymion1818 commented on #85
Sorry @oyedeletemitope, there was a prior agreement with @SamWSoftware to write this one, which is why it wasn't labelled "looking for a writer". I'll be adding more in the next few days so stick around!

[2022-10-15 14:42] endymion1818 commented on #84
Sorry @popoolatopzy, there was a prior arrangement with @Dsalinasgardon to write this one, hence why it wasn't marked as "looking for a writer". There will be more topics released in the next few days so please keep watching!

[2022-10-15 15:58] popoolatopzy commented on #84
Alright @endymion1818,  Thanks for the update

[2022-10-16 13:25] FeliciaSephodi commented on #83
I'm working on this 🙋‍♀️

[2022-10-19 08:43] oyedeletemitope opened #91 "[SUBMIT] 7 features to look out for when choosing a headless cms"
### Introduction

In this article I’ll be discussing what a headless cms and how it differs from a traditional cms. I’ll also discuss 7 features to look at for when choosing a headless cms

### Goals

The goal of this article is to enlighten the readers on features to look out for when choosing a headless cms and how webiny is the right choice for them with the stated features.

### Outline

- Int

[2022-10-20 08:12] #24 closed

[2022-10-20 08:21] endymion1818 opened #93 "[Requested Content] 5 Benefits of Open Sourcing Your Project"
### Topic

We'd like to see this non-technical blog post cover:

- What is Open Source
- How does Open Source Work
- What Is Commercial Open Source Software (COSS)
- Benefit 1: Customizable Code
- Benefit 2: Host within your organization's perimeter
- Benefit 3: Better Security (because the code can be scrutinized)
- Benefit 4: Free access to updates
- Benefit 5: Communities that can Help if You'r

[2022-10-20 08:25] endymion1818 opened #94 "[Request New Content] What Is Multi-Tenanted Software"
### Topic

We'd like to highlight the benefits of Webiny's Multi-tenant system, to cover:

- What is Multi-Tenancy
- Why You Might Need a Multi-Tenant System
- Drawbacks of not using a Multi-Tenant System
- - a. Large organisation
- - b. Large number of products
- - c. Large content team
- Which other Open Source CMS have Multi-Tenancy
- Webiny's Approach to Multi-Tenancy

#### References
https://

[2022-10-20 08:26] kimkimani commented on #73
I can work on this one @endymion1818

[2022-10-20 08:45] endymion1818 commented on #73
@kimkimani Hi Joseph, I'll reserve it for you but let's review your recent submission before you start working on this one.

[2022-10-20 10:48] Rose-stack commented on #93
Hello, I was referred here. How can I get started working on this post?

[2022-10-20 11:07] oyedeletemitope commented on #91
Yes, this section is more like saying “why you should use webiny” as I’ll be discussing webiny as a headless cms ad how it fulfills these features to show the readers why it is the perfect choice to manage your content. I can rename it suit that title if you feel it is more appropriate.

[2022-10-21 01:29] olujerry commented on #93
I'll like to write on this topic

[2022-10-21 01:29] olujerry commented on #93
Is it still available ??

[2022-10-21 07:04] Saintdavidking commented on #94
Hi @endymion1818 is this topic still availabe?

[2022-10-21 07:23] Saintdavidking commented on #80
Hello @endymion1818 ,
i want to ask if there is any update about the progress of this article?

[2022-10-21 13:43] endymion1818 commented on #93
Hello @Rose-stack, please could you send me a DM in the Slack channel? I can onboard you as a writer and we can talk more about the approach to this article. Thanks!

Sorry @olujerry, @Rose-stack commented first ... keep a look out though, there are more topics on the way!

[2022-10-21 13:49] endymion1818 commented on #94
@Saintdavidking Yes it's available, I'll send you an agreement for this article shortly.

[2022-10-21 14:03] Saintdavidking commented on #94
@endymion1818 Alright, thanks

[2022-10-24 13:16] olujerry opened #96 "Build An Ecommerce App with Vue.js and Pinia[SUBMIT]"
### Introduction

Ecommerce applications enable users to share and sell products online. In this tutorial, we will create an Ecommerce application to help an agricultural store market their products. Tailwind will be used to style the app, and Pinia, a state management library, will be used to create type safe Vue Stores.

### Goals

This article will go over the Webiny CMS and how to integrate it

[2022-10-24 16:55] Davidohis commented on #96
Hi @endymion1818, I am interested in writing on this topic.

Hope to get a response soon.

Regards.

[2022-10-26 02:47] CoderOfPHCity opened #98 "[SUBMIT]"
### Introduction

[A deep dive into Zustand: Building a react app using this library

Zustand is a state management library that I've been using for a while now, and I'll introduce it to you in this article. You'll undoubtedly adore zustand  which enables for fast scalable state management solution.]

### Goals

[Sample Goal - In this article, we will learn about the Zustand state management Libra

[2022-10-26 20:55] popoolatopzy opened #102 "[SUBMIT] Benefits of using headless cms as a developer"
### Introduction

Building and maintaining applications can be overwhelming as it requires a lot of time, effort, and techniques to build both the backend and front end from scratch. But with headless CMS, developers have to focus less on the backend. This article will explore some benefits of using a headless CMS like Webiny as a developer.

### Goals

This article aims to inform the readers of t

[2022-10-27 12:26] Saintdavidking commented on #94
@endymion1818 I haven't seen the agreement

[2022-10-28 08:35] endymion1818 commented on #94
Sorry @Saintdavidking, I've been off because the family have had COVID. All better now thankfully, I'll send you something soon!

[2022-10-28 09:08] endymion1818 commented on #98
Hi @CoderOfPHCity, this would be great if you could tie it in to Webiny in some way ... and also compare it to other popular state management libraries

[2022-10-29 08:04] Saintdavidking commented on #94
@endymion1818, so sorry for the inconvenience, Thanks goodness all is better now. I think you can take your time to make sure everything is fine. so sorry

[2022-10-29 20:16] kilokomuli commented on #102
I would like to do this.

[2022-10-31 11:15] endymion1818 commented on #96
Thanks for your submission @olujerry, we've just had a very similar article published, please feel free to suggest something else!

[2022-10-31 11:15] #96 closed

[2022-10-31 11:17] endymion1818 commented on #102
Thanks for your submission @popoolatopzy, we'll consider it and let you know! Please send me a message via Slack so we can get you set up on the writer program 😄

@kilokomuli as this is a suggestion from @popoolatopzy, I'm going to assign it to them. We'd be super happy if you can do some research and suggest another topic. Thanks!

[2022-10-31 13:55] CoderOfPHCity commented on #98
Alright @endymion1818 , I will use the webiny serverless CMS to handle backend of the task app to easily customize add, delete and edit task app functionalities, as well as utilizing zustand React library for powerful state management.

[2022-10-31 16:10] Davidohis commented on #62
Hello, @endymion1818 I would like to work on this, I hope it's open. Thanks

I hope to get a response soon.

Regards.

[2022-11-01 15:36] Qodestackr opened #105 "[SUBMIT] Build Spotify Clone with Webiny, Next.js, and Chakra UI"
### Introduction

Webiny is a progressive open source, serverless CMS. Webiny has lots of exciting features such as a File manager which is built of serverless infrastructure to handle any media library. In this tutorial, we will build an innovative application, a music app with Webiny inspired by Spotify.

### Goals

The goal of this article will be to show how Webiny makes it seamless to handle

[2022-11-02 23:15] popoolatopzy commented on #102
Alright, Thank you @endymion1818

[2022-11-03 15:00] Qodestackr opened #106 "[SUBMIT] A complete guide to Authorization in GraphQL and Jamstack"
### Introduction

One of the de facto standards of tackling how decoupled systems interact together is by building APIs. In recent years, GraphQL and Jamstack solutions has gained popularity in developing experiencs. GraphQL spec uses a declarative query language that favors flexible queries to your client's demands. On the backend, you create a strongly typed schema to resolve data so the clients

[2022-11-03 18:47] oyedeletemitope commented on #91
Hello @endymion1818 what’s the feedback on this? Do I proceed with writing?

[2022-11-05 14:47] olujerry opened #107 "Building a Social Card App using React and Webiny Headless CMS[SUBMIT]"
### Introduction

Social card application enables developers to share their socials

### Goals

In this article, we will Create a React application with authentication and authorization using Webiny Headless CMS.

### Outline

[Here is the sample outline.
  - What is a Headless CMS?
  - Why use Webiny CMS?
  - Authentication and Authorization with Webiny
  - What is React?
  - Prerequisites
  - Wh

[2022-11-08 10:44] kimkimani opened #109 "[SUBMIT]Building a Mobile Note Taking App using React Native and Webiny CMS"
### Introduction

[To-Do applications are a way of organizing things to do or achieve in the form of a list. This list allows us to write down tasks, reprioritize tasks more efficiently, and manage them for increased productivity.]

### Goals

[Sample Goal - In this article, we will learn about the Webiny CMS and how we can use it in a React application by working on building a To-Do app.]

### Ou

[2022-11-08 15:52] Saintdavidking commented on #80
Hello @endymion1818
Is there any information about this article review and publication?

[2022-11-08 16:38] #6 closed

[2022-11-08 16:52] endymion1818 commented on #29
Hi @gracegitt, thanks for your interest in this one! Let's get #52 over the line first then we can think about this article.

[2022-11-08 16:55] endymion1818 commented on #49
@sid-khuntwal I'm assigning this back out again, I hope you have recovered, please contact me via the Slack channel if you would like to pick up another article.

[2022-11-08 16:57] endymion1818 commented on #50
@paulodhiambo as we haven't heard from you within the agreed timescales I'm assigning this back out, if you're still interested in write with webiny please contact me via Slack and we can talk about it some more.

[2022-11-09 10:58] Temidayo32 commented on #50
Hi @endymion1818  I am  interested in writing this tutorial. Here is a link to my portfolio that contains some tutorials I have using Python
https://my-portfolio.readthedocs.io/en/latest/

[2022-11-09 11:27] Nomzy-kush commented on #76
Hello I will like to write on this

[2022-11-09 13:37] Temidayo32 commented on #29
I am interested in this article

[2022-11-09 14:15] Tammibriggs opened #113 "[SUBMIT] Building a News app with Webiny Headless CMS and React"
### Introduction

As with any other app, building a news app with a CMS like Webiny saves us lots of time and effort used to create our own backend by providing us with a ready-to-use Admin app for creating and managing our content which can then be accessed via an API.
In this tutorial, we will be learning how to build a news app with Webiny Headless CMS and React.

### Goals

_No response_

###

[2022-11-09 22:42] icode247 commented on #45
Hi @endymion1818,
I can work on this if it's available.

[2022-11-10 10:35] endymion1818 commented on #50
Hi @Temidayo32, I've sent you a writer agreement, please sign it and we can chat more on the slack channel. See you there!

[2022-11-10 10:37] endymion1818 commented on #29
Hi @Temidayo32, since you've asked to write #50 let's focus on that for now. Thanks.

[2022-11-10 10:45] endymion1818 commented on #45
Hey @icode247 welcome back! Let's chat in the community about the detail on this one 👍

[2022-11-10 10:51] endymion1818 commented on #102
Thanks for the suggestion, as per our conversation on Slack, we agreed to close this one. Though please do submit another topic!

[2022-11-10 10:51] #102 closed

[2022-11-10 11:04] kmaurice012 commented on #109
I would like to work on this.

[2022-11-10 11:36] endymion1818 commented on #48
Hi @Nziokitech, how are you getting on with writing this article? Please respond soon or I will have to assign it to someone else.

[2022-11-10 11:47] EmmanuelTheCoder commented on #49
Can I take this @endymion1818 ?

[2022-11-10 13:26] Temidayo32 commented on #50
@endymion1818 will do that now

[2022-11-14 21:58] Claradev32 opened #115 "Build a Blog using Astro Authoring and Webiny CMS"
### Introduction

In this tuorial the reader will learn how to build a blog application using the Astrojs authorig integration. They will learn how to setup a Webiny account to store the blog records.

### Goals

In this article, we will learn about the Webiny CMS and how we can use it in an Astrojs application by working on building a Blog app.

### Outline

  - What is a Headless CMS?
  - Why us

[2022-11-14 22:01] Claradev32 commented on #115
@endymion1818
I wish to write on this topic.

[2022-11-15 09:46] endymion1818 commented on #115
Hi @Claradev32 thanks for the submission 🤔 This is an interesting prospect, what were you planning to use for the client-side JS? React, Vue or something else?

[2022-11-15 21:29] Claradev32 commented on #115
Hi @endymion1818 , Astrojs is a web framework on it's own. So I'm using Astro on the client side and Webiny on the server side.

[2022-11-17 11:20] Nomzy-kush commented on #107
I’m interested in writing this topic

[2022-11-18 16:52] femakin opened #118 "[SUBMIT] Building a Job Board With Webiny CMS, NextJS and TailwindCSS"
### Introduction

Job boards allow employers to post job listings with information about roles, requirements, qualifications, and perks. The purpose of job boards is to connect job seekers with potential employers or companies. Resumes are submitted in response to job postings.
Follow through to discover how to build a job board application using Webiny.

### Goals

In this article, we will learn

[2022-11-19 23:33] Oluwoleopeyemi opened #119 "FEW THINGS TO TAKE HOLD OF BEFORE CREATING A WEBINY PLUGIN"
### Introduction

Plugins allows us to customize computer programs, mobile apps and online browsers.
These plugins are software add-ons that helps us include some software functionality that is not provided by the author.
Webiny allows every user to create plugins to increase the functionality of it CMS
Everything you need to develop a Webiny Plugin is all in this article.

### Goals

[Sample Goal

[2022-11-22 09:54] Saintdavidking commented on #94
Hi @endymion1818, can I proceed with this article?

[2022-11-23 11:41] endymion1818 commented on #115
Thanks for your submission @Claradev32, this is too similar to an article we published recently: https://www.webiny.com/blog/build-blog-astro-webiny-headless-cms.

[2022-11-23 11:41] #115 closed

[2022-11-23 15:01] extravaganza77 commented on #29
Hello, I would like to be given this article to write on

[2022-11-25 21:01] Saintdavidking commented on #80
Hello @endymion1818 ,
Should i delete this issue ?